@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    height: 100vh;
}
.full{
    margin: 30px 0 0px 80px;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}
.icon{
}
.written{
    width: 40%;
    margin-right: 80px;
}
.heading{
    width: 100%;
    display: flex;
    align-items: center;
}
.head{
    font-size: 50px;
    font-weight: 700;
    margin: 0px 40px 30px 0;
    line-height: 1.1;
}
.para{
    font-size: 18px;
    opacity: .6;
    line-height: 1.5;
}
.head-image{
    margin-left: 80px;
    width: 50%;
    height: 500px;
    background-repeat: no-repeat;
    background-image: url(./images/illustration-working.svg);
    background-position: center;
}
.form-div{
    margin-right: 30px;
    background-color: hsl(257, 27%, 26%);
    background-image: url(./images/bg-shorten-desktop.svg);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
.form{
    display: flex;
    text-align: center;
    padding: 20px 0 20px 0;
    margin: 0 20px 0 20px;
}
#input{
    font-size: 20px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 80%;
}
#input::placeholder{
    font-size: 20px;
}
#input.effect{
    border: 3px solid hsl(0, 87%, 67%);
}
#btn{
    padding: 20px;
    margin: 10px;
    font-size: 20px;
    border-radius: 10px;
    background-color: hsl(180, 66%, 49%);
    width: 20%;
    color: white;
}
#btn:hover{
    opacity: .8;
    transition: all .3s ease-in-out;
    transform: scale(1.05);
}
.form::after{
    content: "please add a link";
    color: hsl(0, 87%, 67%);
    font-style: italic;
    position: absolute;
    bottom: 2em;
    left: 7.5em;
    visibility: hidden;
}
.form.visible::after{
    content: "please add a link";
    color: hsl(0, 87%, 67%);
    font-style: italic;
    position: absolute;
    bottom: 3.5em;
    left: 7.5em;
    visibility: visible;
}
.div-tag{
    width: 94.5%;
    padding: 20px;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    background-color:  hsl(0, 0%, 87%);
    font-size: 20px;
    border-radius: 8px;
}
.div-tag2{
    display: inline;
}
.real-link{
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 60%;
}
.short-link{
 color: hsl(180, 66%, 49%);
}
.link-btn{
    padding: 15px;
    font-size: 18px;
    margin-left: 20px;
    border-radius: 5px;
    background-color: hsl(180, 66%, 49%);
    color: white;
}
.link-btn-effect{
    padding: 15px;
    font-size: 18px;
    margin-left: 20px;
    border-radius: 5px;
    background-color: black;
    color: white;
}

